.bannerimagesize{
    width: 98%;
    background-color: black;
    border-radius: 20px;
    margin-top: 10px;
}
.boldtext{
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    line-height: 1.0em;
    font-size: 25px;
    font-family:"Barlow Condensed",sans-serif;
}

@media (max-width: 450px) {
  .boldtext{
    font-size: 20px;
  }
}