.style-btn {
  border: 2px solid ;
  border-radius: 20px;
  padding: 5px;
  background: none;
}

.selected-style {
  border: 3px solid #9296f0;
  border-radius: 15px;
  background: none;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}


.divclass{
  width: 150px;
}

@media (max-width: 450px) {
  .divclass{
    width: 80px;
  }
}