.generatediv{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.generatediv button{
    width: 180px;
    height: 70px;
    background-color: #5b63b7;
    border: 2px dotted rgb(255, 255, 255);
    border-radius: 30px;
    color: white;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.imagediv{
    margin-top: 10px;
    border-radius: 20px;
    display:flex;
    background-color: rgb(11, 132, 7);
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    .imagediv {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 450px) {
    .imagediv {
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 375px) {
    .imagediv {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 320px) {
    .imagediv {
        width: 150px;
        height: 150px;
    }
}

.actualimage{
    width: 100%;
    height: 100%;
}

.actualimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* fill but keep aspect ratio */
    border-radius: 20px; /* optional */
}
