.headerdiv{
    justify-content: center;
    width: 98%;
    flex:1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-shadow: 20px 6px 18px rgba(0, 0, 0, 0);
    border-radius: 25px;
    position: sticky;
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    background: -webkit-linear-gradient(to right, #ffffff, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff00, #00000081);
}

.headertext{
    font-family:"Barlow Condensed",sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 1000;
}

@media (max-width: 450px) {
  .headertext {
    font-size: 25px;
    width: 95%;         /* makes text container full width */
  }
}