.headerdiv{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    width: 98%;
    flex:1;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    border-radius: 25px;
    position: sticky;
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.823);
}

.headertext{
    font-family:"Barlow Condensed",sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 1000;
}

@media (max-width: 450px) {
  .headertext {
    font-size: 25px;
    width: 95%;         /* makes text container full width */
  }
}