.imageuploaddiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagestyle{
    width: 300px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
    transition: 0.3s ease;
}

@media (max-width: 450px) {
    .imageuploaddiv{
        margin-top: 10px;
    }
    .imagestyle{
        width: 250px;
    }
    
}