input{
    margin-top:20px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;

}
.inputareatext{
    background-color: rgb(59, 59, 59);
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:20px;
    border-radius: 20px;
    border:2px dashed white
}
.sendbutton{
    width: 90px;
    height: 50px;
    background-color: #5b63b7;
    border: 2px dotted rgb(255, 255, 255);
    border-radius: 30px;
    color: white;
    margin-top:10px;
    margin-bottom: 10px;
}
.infor{
    font-size:30px;
    color:white;
}
input:focus{
    outline: none;
    box-shadow: none;
}